* { box-sizing: border-box;
    text-decoration: none;
    padding: none;
    margin: none;
    font-family: Arial, Helvetica, sans-serif ;
    }

body { background-color:lightgray;
       padding: 0; margin: 0}

.navbar {background-color: lightseagreen;}

.container1 {display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 70px;;
    margin-bottom: 50px;
    
   }
.Logo { font-size: 35px;
        font-weight: bold;
        padding: 0 100px;
        line-height: 80px;
        }

.unorderedlist{list-style: none; 
    display: flex; 
    gap: 30px; 
    margin-right: 50px; 
    font-size: 18px;}

.listlink { text-decoration: none; color: white; padding: 20px; display:block}

.unorderedlist li a:hover {background-color:lightblue; font-weight: bolder;}

.computerpic {height: 500px; width: 1020px; margin-top: 50px ; margin-left: 150px; border-radius: 50px;}

.Mypic {height: 360px; 
    width: 360px; 
    border-radius:  200px; 
    padding: 50px ; 
    margin-left: 80px;}

.nav-bottom {list-style: none; 
    justify-content: center ;
    gap: 30px; 
    display: flex;  
    margin-top: 50px;
    vertical-align: top;}

.social {font-size: 40px; line-height: 100px}


.About-me { font-family: Arial, Helvetica, sans-serif;}

.about-me-heading {font-weight: bold;   font-weight: bold; 
   
    margin-bottom: 50px; 
    font-size: 50px;
    }

.About { margin-left: 30%; gap:50px; ;}


.Contactinfo {display:flex ; margin-left: 50px; }

footer {background-color: lightseagreen; height: 160px; margin-top: 100px;}

.footer1 {height:180px; ; margin-top: 100px;}


.Map {display:flex ; margin-left: 250px; ;}


.afrika_tikkun_logo { height: 20px; width: 20px}



@media (max-width:400px) {

.Logo {display: flex; font-size: 20px;}

.social {display:flex;}

.computerpic { margin-left:25px; height:300px; width:300px}

.Bio-info { display: block; width:100%}

h1 {display: block;}

h1 {font-size: 20px;}

.Mypic{ display:none;}
}
