* { text-decoration: none;
    padding: none;
    margin: none;
    font-family: Arial, Helvetica, sans-serif ;
    }

body { background-color:lightgray; }

.container1 {display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 70px;;
    margin-bottom: 50px;
    
   }


.Logo { display: flex;
        padding-left: 25px;
        font-size:35px; 
        font-weight: bold;

        }


.unorderedlist{list-style: none; 
    display: flex; 
    gap: 30px; 
    margin-right: 50px; 
    font-size: 18px;}


.unorderedlist li a:hover {background-color:lightblue; }

.computerpic {height: 500px; width: 1020px; margin-left: 150px; border-radius: 50px;}

.Mypic {height: 250px; 
    width: 200px; 
    border-radius:  200px; 
    padding: 50px ; 
    margin-left: 80px;}

.nav-bottom {list-style: none; 
    justify-content: center;
    gap: 30px; 
    display: flex;  
    margin-top: 50px;
    vertical-align: top;}


.About-me { font-family: Arial, Helvetica, sans-serif;}

.About { margin-left: 25px;  
    justify-content: center; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap:50px}


.Contactinfo {display:flex ; margin-left: 50px; }

footer {background-color: rgb(97, 80, 80); height: 180px; margin-top: 100px;}

.footer1 {height:180px; ; margin-top: 100px;}


.Map2 {display:flex ; justify-content: end; width:50%;}


.afrika_tikkun_logo { height: 100px; width: 250px}



@media (max-width:400px) {

.Logo {display: flex; font-size: 20px;}

.social {display:flex;}

.computerpic { margin-left:25px; height:300px; width:300px}

.Bio-info { display: block; width:100%}

h1 {display: block;}

h1 {font-size: 20px;}

.Mypic{ display:none;}
}





